{% include 'link.html' %}

<nav class="row nav p-10">
    <div class="col-4">
        <a href="/logout" style="padding-left: 50px;"><img src="../static/images/logo.png" alt="logo" height="40px"></a>
    </div>
    <div class="col-4 row">
        <div class="col-2 text-center mt-10"><a class="nav-items {% if request.path == '/admin_home' %}active{% elif request.path == '/admin_login_action' %}active{% endif %}" href="/admin_home">Home</a></div>
        <div class="col-3 text-center mt-10"><a class="nav-items {% if request.path == '/categories' %}active{% elif request.path == '/update_category' %}active{% endif %}" href="/categories">Categories</a></div>
        <div class="col-3 text-center mt-10"><a class="nav-items {% if request.path == '/locations' %}active{% endif %}" href="/locations">Locations</a></div>
        <div class="col-4 text-center mt-10"><a class="nav-items {% if request.path == '/view_hosts' %}active{% endif %}" href="/view_hosts">View Hosts</a></div>
    </div>
    <div class="row col-4">
        <div class="col-4 text-center mt-10"><a class="nav-items {% if request.path == '/view_properties' %}active{% endif %}" href="/view_properties">View Properties</a></div>
        <div class="col-4 text-center mt-10"><a class="nav-items {% if request.path == '/view_bookings' %}active{% endif %}" href="/view_bookings">View Bookings</a></div>
        <div class="col-3 text-center mt-10"><a class="nav-item active" href="/logout">Logout</a></div>
    </div>
</nav>