<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Login</title>
</head>
<body class="body_host_login">
{% include 'head.html' %}
    <div class="row">
        <div class="col-6"></div>
        <div class="col-4 mt-150">
            <div class="card p-20" style="background-color: white;">
                <div class="mt-5 text-center">
                    <h2>Properties Host Login</h2>
                </div>
                <form action="host_login_action" method="post">
                    <div class="mt-10">
                        <label for="email">Email</label>
                        <div class="mt-5 ">
                            <input type="text" class="input-class" name="email" id="email" placeholder="Enter Email Id" required>
                        </div>
                    </div>
                    <div class="mt-10">
                        <label for="password">Password</label>
                        <div class="mt-5">
                            <input type="password" class="input-class" name="password" id="password" placeholder="Enter Password" required>
                    </div>
                    <div>
                        <input type="submit" class="submit-btn p-5 mt-20" value="Login">
                    </div>
                </form>
                <div class="mt-10">
                    Didn't have an account? <a class="color-primary" style="font-weight: bold; font-size: 18px;" href="host_registration">Register Here!</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</body>
</html>