<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Properties Host Home</title>
</head>
<body class="body_host_home">
    {% include 'hosts_head.html' %}
    <h1 class="text-center mt-80">Welcome {{session['first_name']}}!</h1>
    <div style="padding-left: 200px; padding-right: 200px;">
        <div class="card_view mt-30" style="background-color: rgba(105, 173, 221, 0.8);">
            <h2 class="color-secondary mt-10 pl-20 text-center">About Airbnb Hosting</h2>
            <p class="color-gray p-20 text-justify" style="font-size: 1.1em;">
                Airbnb connects hosts with travelers seeking unique stays.  Hosting offers an opportunity to share your space, earn income, and connect with people from around the world.  We provide tools and resources to manage your listings, bookings, and guest communication.  Join our community of hosts and create memorable experiences for your guests.
            </p>
        </div>
    </div>
</body>
</html>